################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SeleniumDemo/v16
/SeleniumDemoBasic/obj
/SeleniumDemoBasic/bin/Debug/netcoreapp3.0
/.vs/SeleniumDemo
